.gridContainer{
    padding-left: 3em;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.refImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: center;
}

.gridImages{
    width: 100%;
    display: flex;
    justify-content: center;
    position: center;
}

